use-cases/sample-n8n-nodes-starter.json
{
  "name": "Sample n8n-nodes-starter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -112
      ],
      "id": "98afb54f-ed01-436b-9a89-a813982a87b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "requestOptions": {}
      },
      "type": "n8n-nodes-starter.httpBin",
      "typeVersion": 1,
      "position": [
        32,
        256
      ],
      "id": "5517f226-6643-40d2-bd03-d608b058a5e3",
      "name": "Perform a GET request"
    },
    {
      "parameters": {
        "name": "={{ $json.name.split(\" \")[0] }}",
        "language": "en"
      },
      "type": "n8n-nodes-starter.helloWorld",
      "typeVersion": 1,
      "position": [
        32,
        -304
      ],
      "id": "fb9a4698-77b9-4eda-adec-0d0f30f997d1",
      "name": "Hello World"
    },
    {
      "parameters": {
        "name": "={{ $json.name.split(\" \")[0] }}",
        "language": "en"
      },
      "type": "n8n-nodes-starter.helloWorld2",
      "typeVersion": 1,
      "position": [
        32,
        -144
      ],
      "id": "6fc33751-4661-4605-a42e-7b57d265db2d",
      "name": "HelloWorld 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-starter.helloWorld3",
      "typeVersion": 1,
      "position": [
        32,
        48
      ],
      "id": "fe1a4558-a659-4b58-b29a-9f743f1dfeb2",
      "name": "Output a good morning message"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -480,
        -112
      ],
      "id": "ce02aa0e-474e-4665-8def-3aeffcd895d9",
      "name": "Customer Datastore (n8n training)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Hello World",
            "type": "main",
            "index": 0
          },
          {
            "node": "HelloWorld 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output a good morning message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c638940d-cae9-4692-addb-acccb0ee6268",
  "meta": {
    "instanceId": "1ab6cd4c66f5eec7d8d0276c491bfb1b84818a10e112c088dd09287dfc9ff8a0"
  },
  "id": "pDt1pfU8YjfATs0q",
  "tags": []
}
